@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	/* Font variables */
	--ff-primary: 'Poppins', sans-serif;

	--fs-lg: 3rem;
	--fs-md: 1rem;
	--fs-sm: 0.563rem;

	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-medium: 500;
	--fw-regular: 400;

	--ff-heading: var(--ff-primary);
	--ff-body: var(--ff-primary);

	/* Color variables */
	--clr-primary-red: hsl(0, 100%, 74%);
	--clr-primary-green: hsl(154, 59%, 51%);

	--clr-accent-blue: hsl(248, 32%, 49%);

	--clr-neutral-dark-blue: hsl(249, 10%, 26%);
	--clr-neutral-grayish-blue: hsl(246, 25%, 77%);
}

/* Reset start */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
	padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
/* Reset end */

/* General styling */
h1 {
	font-family: var(--ff-heading);
	font-size: var(--fs-lg);
	font-weight: var(--fw-bold);
}

body {
	min-height: 100vh;
	display: grid;
	place-content: center;
	font-family: var(--ff-body);
	font-size: var(--fs-md);
	font-weight: var(--fw-regular);
	color: white;
	background-color: var(--clr-primary-red);
	overflow-y: auto;
	overflow-x: hidden;
}

.bg-img {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.main-container {
	width: 77.2%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin: auto;
	gap: 4rem;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	grid-area: 1 / 1 / 2 / 2;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.trial-description {
	width: 100%;
	background-color: var(--clr-accent-blue);
	color: white;
	text-align: center;
	padding: 1em;
	border-radius: 10px;
	box-shadow: 0 10px 0.5px 0 hsla(249, 10%, 26%, 0.25);
}
.trial-description > p > span {
	font-weight: var(--fw-bold);
}

form {
	display: flex;
	flex-direction: column;
	padding: 2.5em;
	background-color: white;
	border-radius: 10px;
	gap: 1.5rem;
	box-shadow: 0 10px 0.5px 0 hsla(249, 10%, 26%, 0.25);
}
.form-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: var(--fw-semibold);
	border-radius: 10px;
	position: relative;
}
.form-group input {
	width: 100%;
	border: none;
	outline: none;
	letter-spacing: 1px;
}

.input-container {
	display: flex;
	align-items: center;
	padding: 0.75em 2em;
	justify-content: space-between;
	border: 1px solid var(--clr-neutral-grayish-blue);
	border-radius: 5px;
	opacity: 0.5;
}
.input-container:focus-within {
	opacity: 1;
}

button {
	color: white;
	font-weight: var(--fw-regular);
	letter-spacing: 1.5px;
	background-color: var(--clr-primary-green);
	padding: 1em;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px hsl(154, 59%, 41%);
}
button:hover,
button:focus {
	background-color: hsla(154, 59%, 51%, 0.75);
	cursor: pointer;
}
button:active {
	transform: translateY(5px);
	box-shadow: none;
}

/* validation style */
.success {
	border: 2px solid var(--clr-primary-green) !important;
}
.error {
	opacity: 1;
	border: 2px solid var(--clr-primary-red) !important;
}
.error-message {
	padding-top: 0.5em;
	text-align: right;
	font-style: italic;
	font-size: var(--fs-sm);
	color: var(--clr-primary-red);
}
.error-icon {
	width: 20px;
	height: 20px;
}
.hidden {
	display: none;
}

/* terms and services style */
.consent {
	text-align: center;
	font-size: var(--fs-sm);
	color: var(--clr-neutral-grayish-blue);
}
.consent > span {
	font-weight: var(--fw-bold);
	color: var(--clr-primary-red);
}

/* mobile-view */
@media screen and (max-width: 599px) {
	:root {
		--fs-lg: 2rem;
		--fs-md: 0.9rem;
		--fs-sm: 0.45rem;
	}

	.main-container {
		width: 90%;
		max-width: 468px;
		text-align: center;
		display: flex;
		flex-direction: column;
		margin: 2rem auto;
	}

	.trial-description {
		padding: 1em 3em;
	}

	form {
		padding: 1.5em;
	}
}

/* tablet view */
@media screen and (min-width: 600px) and (max-width: 899px) {
	:root {
		--fs-lg: 2.7rem;
		--fs-md: 0.9rem;
		--fs-sm: 0.5rem;
	}
	.main-container {
		max-width: 580px;
		text-align: center;
		display: flex;
		flex-direction: column;
	}
}

/* tablet view */
@media screen and (min-width: 900px) and (max-width: 1200px) {
	:root {
		--fs-lg: 2.7rem;
		--fs-md: 0.9rem;
		--fs-sm: 0.5rem;
	}

	.main-container {
		min-width: 850px;
		max-width: 934px;
	}
}

@media screen and (min-width: 1600px) {
	:root {
		--fs-sm: 0.688rem;
	}

	.main-container {
		width: 100%;
		max-width: 1250px;
	}
}
